:root {
  /* Colors */
  --main_bg: #0d1117;
  --main: #ff4500;
  --d1: #161b22;
  --l1: #fff;
  --l2: #bdbdbd;
}

/* Page Width Container */
.w {
  width: 100%;
  max-width: 1350px;
}

* {
  font-family: Segoe UI, sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: var(--main_bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*  */
.s-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1rem 0.5rem;
}

/* head */
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.head span {
  font-size: 3.5rem;
  color: #ff4500;
  font-weight: 600;
}
/* main */
.main {
  margin: 3rem 0 2rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-area {
  width: 100%;
  max-width: 650px;
  text-align: center;
}

/*  */
.g-url {
  width: 100%;
  outline: none;
  border: 2px solid var(--main);
  background-color: var(--d1);
  color: var(--l1);
  border-radius: 20px;
  font-size: 1.1rem;
  padding: 0.2rem 1rem 0.4rem 1rem;
}
.g-url::placeholder {
  color: var(--l2);
  font-style: italic;
  opacity: 1;
}

.g-coordinate {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
}
.g-coordinate label {
  color: var(--l2);
  font-weight: 600;
}
.g-coordinate input {
  outline: none;
  width: 50%;
  max-width: 150px;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid var(--main);
  background-color: var(--d1);
  color: var(--l1);
  font-size: 1rem;
}

/* hiding number arrows */
.g-coordinate input::-webkit-outer-spin-button,
.g-coordinate input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* start */
.g-start {
  margin-top: 2rem;
  text-align: center;
}
.g-start button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.1rem;
  width: 100%;
  max-width: 200px;
  padding: 0.3rem 1rem 0.5rem 1rem;
  background-color: var(--main);
  color: var(--l1);
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.g-start button:hover {
  background-color: #ff1100;
  box-shadow: 0 1px 12px rgba(255, 255, 255, 0.2);
}

/* result */
.result {
  display: none;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  opacity: 0;
}

.error {
  color: red;
  background-color: #ff000033;
  border: 1px solid red;
  font-weight: 600;
}

.success {
  background-color: #9dff0042;
  border: 1px solid #b3ff41;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  opacity: 0;
}

.success input {
  width: 70%;
}

.success button {
  width: 30%;
  max-width: 150px;
}
.success button:hover {
  text-decoration: underline;
}
.success span {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: #fff;
}

/* alt */
.alt {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.alt a {
  text-decoration: none;
  color: var(--l1);
}
.alt a:hover {
  text-decoration: underline;
}

/* star */
.star {
  text-align: center;
  color: #666;
  font-size: 1rem;
}

.star p {
  max-width: 25rem;
  margin: 0 auto;
}

/* Smoothly hide and show main content */
.s-main.w .main-area {
  opacity: 1;
  transform: translateY(0);
}

.s-main:not(.w) .main-area {
  opacity: 0;
  transform: translateY(10px);
}

.s-main.w .result {
  display: flex;
  opacity: 1;
}

.s-main:not(.w) .result {
  opacity: 0;
}

/* Smoothly change error and success appearance */
.s-main.w .result.success {
  opacity: 1;
}

.s-main:not(.w) .result.success {
  opacity: 0;
}
